*{
    margin: 0;
}

body{
    background-color: rgb(227, 225, 225);
}

.header{
    margin: 0;
}

header, .container{
    background-color: white;
}

.titolo{
    display: inline-block;
    font-size: 4rem;
}

.container{
    margin: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
     border-radius: 2%;
}

.button{
    display: inline-block;
    margin-bottom: 10px;
}

.blue{
    background-color: rgb(63, 63, 173);
    border-radius: 5%;
    padding: 5px;
    max-width: 100px;
}


.white{
    border: 1px solid lightgray;
    border-radius: 5%;
    padding: 5px;
}

.tag{
    display: inline-block;
    max-width: 70px;
    border-radius: 20%;
    padding: 5px;
    margin-bottom: 5px;
}

ul{
    list-style: none;
}

.check{
    color: green;
    border-color: green;
    border-radius: 50%;
}

.not{
    color: red;
    border-color: red;
    border-radius: 50%;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.pink{
    background-color: pink;
}

.olive{
    background-color: olive;
}



